<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>PortScaner</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/nav.css">
        <link rel="stylesheet" href="css/action-bar-style.css">
        <link rel="stylesheet" href="css/result-view-style.css">
        <link rel="stylesheet" href="css/loading.css">
    </head>
    <body>
        <div class="my-nav container">
            <p class="title text-center">Port Scaner</p>
        </div>
        <div class="action-bar-style container">
            <div class="input-group-lg container" id="action-bar">
                <div>
                    <label for="host">目标IP段:</label>
                    <input type="text" placeholder="Host" id="host" class="form-control" v-model="ip">
                </div>
                <div>
                    <label for="startPort">起始端口:</label>
                    <input type="text" placeholder="StartPort" id="startPort" class="form-control" v-model="start">
                </div>
                <div>
                    <label for="endPort">结束端口:</label>
                    <input type="text" placeholder="EndPort" id="endPort" class="form-control" v-model="end">
                </div>
                <div>
                    <label for="method-select">扫描方式:</label>
                    <select class="selector" id="method-select">
                        <option is="my-option" v-for="(method, index) of methods" :key="index" :index="index" :method="method"></option>
                    </select>
                </div>
                <button type="button" class="btn btn-success scanPort" @click="scan">扫描</button>
            </div>
        </div>
        <div class="container result-panel" id="result-view">
            <div class="container left-panel">
                <p class="text-center text-success font-style">开放端口({{openPortNumber}}个)</p>
                <div class="table-style">
                    <table-component :table-header="table_header" :result-set="openPortResultSet"></table-component>
                </div>
            </div>
            <div class="container right-panel">
                <button type="button" class="btn btn-info" @click="exportResult">导出结果</button>
            </div>
            <div class="container center-panel">
                <p class="text-center text-danger font-style">关闭端口({{closePortNumber}}个)</p>
                <div class="table-style">
                    <table-component :table-header="table_header" :result-set="closePortResultSet"></table-component>
                </div>
            </div>
        </div>
        <div class="container" id="loading">
            <loading-modal v-show="show_loading"></loading-modal>
        </div>
        <script src="js/vue.js"></script>
        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="js/jquery-eletron-adapter.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/component/action-bar.js"></script>
        <script src="js/component/result-view.js"></script>
        <script src="js/fix-size.js"></script>
        <script src="js/scan/scan_port_api.js"></script>
        <script src="js/component/loading.js"></script>
    </body>
</html>
